ENV=development
NODE_ENV=development
PORT=8005
# JWT Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# JWT_SECRET, JWT_REFRESH_SECRET, and JWT_PIN_SECRET
# should be strong and unique.
# JWT_PIN_EXPIRES_IN, JWT_EXPIRES_IN, and JWT_REFRESH_EXPIRES_IN
# should be set according to your application's requirements.

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_PIN_SECRET=
JWT_PIN_EXPIRES_IN=20m
JWT_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=7d

# Database Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# Database type must be Postgres
# You must provide the 5 different database URLs for the services
DATABASE_URL_BOOKING=
DATABASE_URL_EVENT=
DATABASE_URL_AUTH=
DATABASE_URL_PAYMENT=
DATABASE_URL_AI=

# Email Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# EMAIL_HOST, EMAIL_PORT, EMAIL_USERNAME, EMAIL_USER, and EMAIL_PASS
# should be set according to your email service provider.
# It could be get from SMTP provider
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USERNAME=
EMAIL_USER=
EMAIL_PASS=

# Google OAuth Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET, and GOOGLE_CALLBACK_URL
# should be set according to your Google OAuth application.
# You can create a Google OAuth application at https://console.developers.google.com/
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Cloudinary Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# CLOUDINARY_CLOUD_NAME, CLOUDINARY_API_KEY, CLOUDINARY_API_SECRET, and CLOUDINARY_URL
# should be set according to your Cloudinary account.
# You can create a Cloudinary account at https://cloudinary.com/
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=

# Encryption Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# ENCRYPTION_ALGORITHM should be a valid encryption algorithm
# ENCRYPTION_KEY should be a strong and unique key
# ENCRYPTION_IV should be a unique initialization vector
ENCRYPTION_ALGORITHM=
ENCRYPTION_KEY=
ENCRYPTION_IV=

# PayOS Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# PAYOS_CLIENT_ID, PAYOS_API_KEY, PAYOS_CHECKSUM_KEY, and PAYOS_WEBHOOK_URL
# should be set according to your PayOS account.
# You can create a PayOS account at https://payos.vn/
PAYOS_CLIENT_ID=
PAYOS_API_KEY=
PAYOS_CHECKSUM_KEY=
PAYOS_WEBHOOK_URL=

# OpenAI Configuration
# Note: Ensure to set these values in your .env file
# for security purposes. The values below are placeholders.
# OPENAI_USAGE_PRIVATE_KEY and OPENAI_API_KEY should be set according to your OpenAI account.
# You can create an OpenAI account at https://openai.com/
OPENAI_API_KEY=

# Slack Configuration
# Note: Ensure to set this value in your .env file
# for security purposes. The value below is a placeholder.
# SLACK_WEBHOOK_URL should be set according to your Slack application.
# You can create a Slack application at https://api.slack.com/apps
SLACK_WEBHOOK_URL=